<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." data-bs-toggle="modal" data-bs-target="#portfolioModal1"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">연습생 1 </h5>
                                    <!-- Product price-->
                                    소속사 : SM
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" data-bs-toggle="modal" data-bs-target="#portfolioModal1">투표하기</a></div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
            <!-- 연습생 상세 정보 모달 -->
            <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <h5 class="modal-title" id="portfolioModal1Label">연습생 상세 정보</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="연습생 이미지" />
                                </div>
                                <div class="col-lg-6">
                                    <h2>이름: 연습생 1 </h2>
                                    <p>나이: 20세</p>
                                    <p>포지션: 보컬</p>
                                    <p>소속사: SM</p>
                                    <button type="button" class="btn btn-primary">연습생에게 투표하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
  </div>

