
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting System</title>
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>당신의 아이돌에 투표하세요</h1>
    <section class="py-5">
        {% for i in ranks %}
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <!-- <img class="card-img-top" src="/img/{{idol.imgname}}" alt="..." data-bs-toggle="modal" data-bs-target="#portfolioModal1"/> -->
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="tex t-center">
                                <h5 class="fw-bolder">{{ i.name }}</h5>
                                <!-- Product agency-->
                                생년월일 : {{ i.birthdate}}
                                소속사 : {{ i.agency }}
                                투표 수 : {{ i.vote }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" data-bs-toggle="modal" data-bs-target="#portfolioModal1">상세보기</a></div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        {% endfor %}
    </section>
   
</body>
</html>
