<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
              </li>
         
            </ul>
        </div>
        <div class="col-sm-9">
            <h2> 아이돌 순위</h2>
            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                        {% for i in informations %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="/img/{{i.imgname}}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">{{ i.name }}</h5>
                                        생년월일 : {{ i.birth_date }}
                                        소속사 : {{ i.agency }}
                                        투표 수 : {{ i.vote }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상세보기</a></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </section>

        </div>
    </div>
  </div>

