<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12">
        <h3>게시물 목록</h3>
      </div>
  
    </div>
</div>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-3">
        
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
              </li>
         
            </ul>
        </div>
        <div class="container text-center">
            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th>id</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>작성일</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in boards %}
                          <tr>
                            <td>{{i.id}}</a></td>
                            <td>{{i.name}}</td>
                            <td>{{i.title}}</td>
                            <td>{{i.created_date}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
                <a href="/board/new" class="btn btn-info" role="button">게시글 작성</a>
                <a href="#"class="btn btn-info" role="button">게시글 삭제</a>
            </section>
        
        </body>